{
    auto_https off
    skip_install_trust
    admin :2019
    metrics

    log {
        output stderr
        format json
        level INFO
    }
}

:8080 {
    root * /app
    log {
        output stdout
        format json
    }
    header {
        -X-Powered-By
        -Server
    }
    php_server
}

:2019 {
    handle /metrics {
        metrics
    }
    handle /health {
        respond "OK" 200
    }
}